{% extends "tcapp/tenant/income/index.html" %}

{% block tenant_income_group_amounts %}
        <legend>Compensation</legend>
        <div ng-repeat="account in source.incomes">
            <div class="form-group">
                <div id="incomes-[[$index]]" class="row" style="margin-left:auto;margin-right:auto;">
                    <div class="col-xs-4">
                        <label>[[CATEGORY[account.category] ]]
                        [[account.category == 'regular' ? "*" : ""]]</label>
                    </div>
                    <div class="col-xs-2 no-padding">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control" name="[[CATEGORY[account.category].replace(' ','-')]]-amount" type="number" min="0" step="any" placeholder="amount" ng-model="account.amount"></input>
                        </div>
                    </div>
                    <div class="col-xs-2 no-padding" ng-show="!hasImplicitPeriod(source)">
                        {% include "tcapp/_period_field.html" with name="[[CATEGORY[account.category].replace(' ','-')]]-period" ng_model="account.period" %}
                    </div>
                    <div class="col-xs-2 no-padding" ng-show="hasPeriodRates(source, account)">
                        <div class="input-group">
                            <input class="form-control" name="[[CATEGORY[account.category].replace(' ','-')]]-period-per-avg" type="number" min="0" step="any" placeholder="hours" ng-model="account.period_per_avg"></input>
                            <span class="input-group-addon">[[asPeriodNouns(account.period)]]</span>
                        </div>
                    </div>
                    <div class="col-xs-2 no-padding-left" ng-show="hasPeriodRates(source, account)">
                        {% include "tcapp/_period_avg_field.html" with class="input-group-addon" name="[[CATEGORY[account.category].replace(' ','-')]]-avg" ng_model="account.avg" %}
                    </div>
                </div>
            </div>
{% endblock %}

{% block calculation_help_block %}
<section id="documentation" class="container" style="display: none;">
<!-- XXX Reference to Appendix 3 -->
<div class="hud">
<h2>HUD Handbook 4350.3 - Appendix 3: Acceptable Forms of Verification</h2>
<table class="appendix3-table">
<tr>
  <th></th>
  <th colspan="7">ACCEPTABLE SOURCES</th>
  <th></th>
</tr>
<tr>
  <th></th>
  <th colspan="3">Third Party<sup>a</sup></th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<tr>
  <th>Factor to be Verified</th>
  <th>Written<sup>b and d</sup></th>
  <th>*Provided by Applicant<sup>e</sup></th>
  <th>Oral<sup>c</sup></th>
  <th>*Provided by Applicant</th>
  <th>Self-Declaration</th>
  <th>Verification Tips</th>
</tr>
<tr>
  <td>
Employment Income including tips, gratuities, overtime.<br />
*(See Chapter 5, Paragraph 5-5.A and C and Paragraph 5- 6.)*
  </td>
  <td>
    <ul>
      <li>*EIV Income Report (mandatory)*</li>
      <li>Verification form completed by employer. See Paragraph 9-10 for situations when this method of verification must be used prior to verifying through an original or authentic document generated by a third-party source.</li>
    </ul>
  </td>
  <td>
  <ul>
    <li>W-2 Forms, if applicant has had same employer for at least two years and increases can be accurately projected.</li>
    <li>Paycheck stubs or earning statements.</li>
  </ul>
  </td>
  <td>
  <ul>
    <li>Telephone or in- person contact with employer, specifying amount to be paid per pay period and length of pay period. Document in file by the owner.</li>
  </ul>
  </td>
  <td></td>
  <td>
  <ul>
    <li>Notarized statements or affidavits signed by applicant that describe amount and source of income.</li>
  </ul>
  </td>
  <td>
  <ul>
    <li>*It is mandatory that the EIV Income Report be used as third-party verification of employment and income (24 CFR 5.233).*</li>
    <li>Always verify: frequency of gross pay (i.e., hourly, biweekly, monthly, bimonthly); anticipated increases in pay and effective dates; overtime.</li>
    <li>Require most recent *4-6* consecutive pay stubs; do not use check without stub.</li>
    <li>For a fee, additional information can be obtained from The Work Number 800- 996-7556; First American Registry 800-999-0350; and Verifax 800-969-5100. Fees are valid project expenses. Information does not replace third- party verification.</li>
  </ul>
  </td>
</tr>
</table>
<p>
<sup>a</sup> NOTE: Requests for verification from *a third party source* must be accompanied by a Consent to Release form *HUD-9887-A*.
</p>
<p>
<sup>b</sup> NOTE: If the original document is witnessed but is a document that should not be copied, the owner should record the type of document, any control or serial numbers, and the issuer. The owner should also initial and date this notation in the file.
</p>
<p>
<sup>c</sup> NOTE: For all oral verification, file documentation must include facts, time and date of contact, and name and title of the third party.
</p>
<p>
<sup>d*</sup> NOTE: For use of EIV Income Reports as third party verification of employment and income a current Consent for Release form HUD-9887 must be on file.*
</p>
<p>
<sup>c*</sup> NOTE: See examples and requirements found in Paragraph 5-13.B.1
</p>
</div>
<div class="ctac">
<h2>CTCAC Compliance Reference Manual - Part 4.3 Tenant Income Verification</h2>
<h3>Effective Term of Verification</h3>
<p>
Third-party verifications of income are valid for 120 days prior to move-in. If after 120 days the tenant has not yet moved in, a new written verification must be obtained.
</p>
<h3>B Methods of Verification</h3>
<ol>
<li>Written Verification
<p>
Written, third party verification is required. Any request for income verification must:
<ul class="list-unstyled">
<li>(a) State the reason for the request;</li>
<li>(b) Include a release statement signed and dated by the prospective tenant;</li>
<li>(c) Provide a section for the employer or other third-party source to state the applicant’s hire date, current anticipated gross annual income or rate of pay, number of hours worked, income YTD including when the annual pay period began, and frequency of pay. Bonuses, tips, commissions and any other additional income sources such as uniform allowance or mileage must be included. Spaces should also be available for a signature, job title, phone number, and date.</li>
<li>(d) Probability and effective date of any increase during the next twelve (12) months.</li>
<li>(e) CTCAC requires three months of consecutive pay stubs at initial move-in on addition to the Verification of Employment (VOE) for wage earners only.</li>
</ul>
</li>
<li>Verbal Verification
<p>
In the past, CTCAC has accepted verbal verification when written verification is not possible prior to move-in, by direct contact with the source and at the owner’s risk.
</p>
<p>
<strong>Although verbal verification is acceptable in HUD Handbook 4350 Rev-3, as of January 1, 2009, verbal verification of income and assets will no longer be permitted by CTCAC due to the significant risk of Tax Credit noncompliance.</strong>
</p>
<p>
Verbal telephone clarifications of existing written documentation will still be allowed for minor issues relating to dates or blanks. However, if the verbal clarification would reduce the income calculation used to determine eligibility, third party clarification must be obtained.
</p>
</li>
<li>Verification Requests
<p>
Income verification requests must be sent directly to the source of income by the owner or management agent and returned by the source to the owner or management agent. Under no circumstances should the applicant or resident be allowed to send or deliver the verification form to the third party source. It is suggested that a self-addressed, stamped envelope be included with the request for verification, to ensure a timely response.
</p>
<p>
All tenant income verifications should be date stamped as they are received. However, CTCAC will determine time validity of the verification based on when the source of income signed and dated the verification (120 days)
</p>
</li>
<li>Acceptable Forms of Income Verification
<p>
For information concerning acceptable forms of income verification for Employment Income, Self-Employment Income, Social Security/Pensions/Supplemental Security Income (SSI)/Disability Income; Unemployment Compensation, Alimony or Child Support Payments; Recurring Contributions and Gifts; Scholarships, Grants, Veteran’s Administration Benefits; etc., see the required CTCAC forms and/or the HUD Handbook 4350.3 REV-3 found in Appendix 2 of this manual.* Please note, CTCAC requirements may be more restrictive than HUD requirements.
</p>
<p>
*Additional guidance on verification requirements can be found in the IRS Guide to Form 8823, Chapter 4 – 21, Section 2 – Documentation Requirements. (Appendix 2)
</p>
</li>
</ol>
</div>
</section>
{% endblock %}
