{% if application %}
<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="{{urls.application.calculation}}">New application</a></li>
            <li><a id="verification-link" href="{{urls.application.application_detail}}">Verification</a></li>
            <li><a id="printable-forms-link" href="{{urls.application.printable_forms}}">Printable forms</a></li>
            <li><a id="supporting-documents-link" href="{{urls.application.supporting_documents}}">Supporting documents</a></li>
        </ol>
    </div>
</div>
{% endif %}
