<select id="type_of_income" class="select form-control" name="question" ng-model="{{model}}">
    <option value="" disabled selected>Please choose one ...</option>
    <option value="1">Self-Employed</option>
    <option value="2">W2 Employee</option>
    <option value="3">Gifts</option>
    <option value="4">Unemployment Benefits</option>
    <option value="5">Veteran Benefits</option>
    <option value="6">Social Security Benefits</option>
    <option value="7">Unearned Income</option>
    <option value="8">Supplemental Security Income</option>
    <option value="9">Disability Benefits</option>
    <option value="10">Public Asssistance Income</option>
    <option value="11">Child Support</option>
    <option value="12">Alimony Support</option>
    <option value="13">Trusts, Funds, etc.</option>
    <option value="14">Income from Property</option>
    <option value="15">Student financial aid</option>
</select>
