{% extends "base.html" %}

{% block content %}
<div class="container" style="margin-bottom:25px;">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Quick read on LIHTC tenant certification</h1>
            <p>
Household income and assets are determined following the rules in the
<a href="https://portal.hud.gov/hudportal/HUD?src=/program_offices/administration/hudclips/handbooks/hsgh/4350.3">HUD Handbook 4350.3: Occupancy Requirements of Subsidized Multifamily Housing Programs</a>.
            </p>
            <blockquote>
                <p>
However, please keep in mind that the allocating agency (CTCAC) can impose stricter requirements for determining income eligibility beyond what HUD Handbook 4350.3 REV-3 requires.
                </p>
                <footer>
                    <cite>California Tax Credit Allocation Committee (CTCAC) - Part 4.3 Tenant Income Verification</cite>
                </footer>
            </blockquote>
            <div>
                <h2>Determining household size for income limits</h2>
                <p>
To certify a household to live in a LIHTC unit, <strong>all</strong> income
and assets for the household must be accounted for and verified with the source.
The first question is thus who of the residents in the unit are counted towards
the household?
                </p>
                <div class="sidebar">
                    <h4>Caution</h4>
                    <ul>
                        <li>Household size for income limits are not the same as for occupancy standards</li>
                    </ul>
                </div>
                <blockquote>
                    <h3>E. Income Limits and Family Size</h3>
                    <p>
                        <ul class="list-unstyled">
                            <li>3. When determining family size for establishing income eligibility, the owner must include all persons living in the unit except the following:
                                <ul style="list-style: none;">
                                    <li>a. Live-in aid
                                    <li>b. Guests
                                </ul>
                            </li>
                            <li>4. When determining family size for income limits, the owner must include the following individuals who are not living in the unit:
                                <ul style="list-style: none;">
                                    <li>a. Children temporarily absent due to placement in a foster home;</li>
                                    <li>b. Children in joint custody arrangements who are present in the household 50% or more of the time;</li>
                                    <li>c. Children who are away at school but who live with the family during school recesses;</li>
                                    <li>d. Unborn children of pregnant women.</li>
                                    <li>e. Children who are in the process of being adopted.</li>
                                    <li>f. Temporarily absent family members who are still considered family members. For example, the owner may consider a family member who is working in another state on assignment to be temporarily absent;</li>
                                    <li>g. Family members in the hospital or rehabilitation facility for periods of limited or fixed duration. These persons are temporarily absent as defined in subparagraph f above; and</li>
                                    <li>h. Persons permanently confined to a hospital or nursing home. The family decides if such persons are included when determining family size for income limits.</li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                    <footer>
                        <cite>HUD Handbook 4350.3: Occupancy Requirements of Subsidized Multifamily Housing Programs. Chapter 3</cite>
                    </footer>
                </blockquote>
            </div>
            <div>
                <h2>Determining a tenant income</h2>
                <blockquote>
                    <h3>5-4 Key Requirements</h3>
                    <ul class="list-unstyled">
                        <li>A. Annual income is the amount of income that is used to determine a family’s eligibility for assistance. Annual income is defined as follows:</li>
                        <ol>
                            <li>All amounts, monetary or not, that go to or <span class="highlight">are received</span> on behalf of the family head, spouse or co-head (even if the family member is temporarily absent), or any other family member; or</li>
                            <li>All amounts <span class="highlight">anticipated to be received</span> from a source outside the family during the 12-month period following admission or annual recertification effective date.</li>
                        </ol>
                        <li>B. Annual income includes all amounts that are not specifically excluded by regulation. <span class="highlight">Exhibit 5-1</span>, Income Inclusions and Exclusions, provides a list of income inclusions and exclusions published in the regulations and Federal Register notices.</li>
                        <li>C. Annual income includes amounts derived (during the 12-month period) from <span class="highlight">assets</span> to which any member of the family has access.</li>
                    </ul>
                    <footer>
                        <cite>HUD Handbook 4350.3: Occupancy Requirements of Subsidized Multifamily Housing Programs. Chapter 5</cite>
                    </footer>
                </blockquote>
                <div class="col-sm-6">
                    <h3>Examples of income inclusions</h3>
                    <ul>
                        <li>Full amount, before any payroll deductions, of wages and salaries, overtime pay, commissions, fees, tips and bonuses, etc.</li>
                        <li>Net income from operation of a business or profession</li>
                        <li>Interest and dividends</li>
                        <li>Social security, Unemployment, Welfare assistance</li>
                        <li>Alimony and child support payments</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h3>Examples of income exclusions</h3>
                    <ul>
                        <li>Income from employment of children under the age of 18 years</li>
                        <li>Lump-sum additions to family assets, such as inheritances, insurance payments</li>
                        <li>student financial assistance paid directly to the student or to the educational institution</li>
                        <li>Special pay to a family member serving in the Armed Forces who is exposed to hostile fire</li>
                        <li>Earnings in excess of $480 for each full-time student 18 years or older (excluding the head of household and spouse);</li>
                    </ul>
                </div>
                <p>
                    See HUD Handbook 4350.3: Occupancy Requirements of Subsidized Multifamily Housing Programs Exhibit 5-1 for a full list.
                </p>
            </div>
            <div>
                <h2>Determining an household assets</h2>
                <blockquote>
                    <h3>5-7 Calculating Income from Assets</h3>
                    <p>Annual income includes amounts derived from assets to which family members have access.</p>
                    <ul>
                        <li>A. What is Considered an Asset?
                            <ol>
                                <li><span class="highlight">Assets are items of value that may be turned into cash.</span> A savings account is a cash asset. The bank pays interest on the asset. The interest is the income from that asset.</li>
                                <li>Some tenants have assets that are not earning interest. <span class="highlight">A quantity of money under a mattress is an asset</span>: it is a thing of value that could be used to the benefit of the tenant, but under the mattress it is not producing income.</li>
                                <li>Some belongings of value are not considered assets. <span class="highlight">Necessary personal property is not counted as an asset. Exhibit 5-2</span> summarizes the items that are considered assets and those that are not.</li>
                            </ol>
                        </li>
                    </ul>
                    <footer>
                        <cite>HUD Handbook 4350.3: Occupancy Requirements of Subsidized Multifamily Housing Programs. Chapter 5</cite>
                    </footer>
                </blockquote>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Examples of assets inclusions</h3>
                        <ul>
                            <li>Cash held in savings and checking accounts, safe
deposit boxes, homes, etc.</li>
                            <li>Stocks, bonds, Treasury bills, certificates of deposit, mutual funds, and money market accounts</li>
                            <li>Equity in rental property or other capital investments</li>
                            <li>Cash value of life insurance policies available to the individual before death</li>
                            <li>Personal property held as an investment. Include gems, jewelry, coin collections, or antique cars held as an investment. Personal jewelry is NOT considered an asset.</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h3>Examples of assets exclusions</h3>
                        <ul>
                            <li>Personal property (clothing, furniture, cars, wedding ring, other jewelry that is not held as an investment, vehicles specially equipped for persons with disabilities).
                            </li>
                            <li>Term life insurance policies</li>
                            <li>Assets that are part of an active business</li>
                            <li>Assets that are NOT effectively owned by the applicant</li>
                            <li>Assets that are not accessible to the applicant and provide no income to the applicant</li>
                        </ul>
                    </div>
                </div>
                <p>
See HUD Handbook 4350.3: Occupancy Requirements of Subsidized Multifamily Housing Programs Exhibit 5-2 for a full list.
                </p>
            </div>
            <div>
                <h2>Is it income or assets?</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <img class="img-responsive" src="{{'/static/img/income-vs-assets.png'|asset}}" style="margin: auto;" />
                    </div>
                    <div class="col-sm-6">
                        <div class="sidebar">
                            <h4>General rules</h4>
                            <ol>
                                <li>A source is an asset if the tenant has access to the source.</li>
                                <li>A payment is income if the tenant has no access to the source <strong>AND</strong> the payments are regular/periodic.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <blockquote>
<h3>Example – Withdrawals from a Keogh Account</h3>
<p>
Ly Pham has a Keogh account valued at $30,000. When she turns 70 years old, she begins drawing $2,000 a year. Continue to count the account as an asset. Use the guidance in paragraph 5-7 to determine the cash value and imputed income from the asset. Do not count the $2,000 she withdraws as income.
</p>
                    <footer>
                        <cite>HUD Handbook 4350.3: Occupancy Requirements of Subsidized Multifamily Housing Programs. Exhibit 5-2</cite>
                    </footer>
                </blockquote>
                <blockquote>
<h3>Example – Retirement Benefits as Lump-Sum and Periodic Payments</h3>
<p>
Upon retirement, Eleanor Reilly received a lump-sum payment of $15,000. She will also receive periodic pension payments of $350 a month.
</p>
<p>
The lump-sum amount of $15,000 is generally treated as an asset. In this instance, however, Eleanor spent $5,000 of the lump sum on a trip following her retirement. The remaining $10,000 she placed in her mutual fund with other savings. The entire mutual fund will be counted as an asset.
</p>
<p>
The owner has verified that Eleanor is now not able to withdraw the balance from her pension. Therefore, the owner will count the $350 monthly pension payment as annual income and will not list the pension account as an asset.
</p>
                    <footer>
                        <cite>HUD Handbook 4350.3: Occupancy Requirements of Subsidized Multifamily Housing Programs. Exhibit 5-2</cite>
                    </footer>
                </blockquote>
            </div>
            <div>
                <h2>Verification requirements</h2>
                <div class="sidebar">
<h4>General rules</h4>
                <ul>
                    <li>Include anticipated income <strong>not past income</strong></li>
                    <li>Verify directly from the source</li>
                    <li>Verifications are good for 120 days</li>
                    <li>Unless overriden by State rules, use HUD Handbook 4350.3 Appendix 3 as your guide</li>
                    <li>Paystubs does not alleviate requirements for Verification of Employment</li>
                    <li>Special rules apply for cash wages</li>
                </ul>
                </div>
                <h3>Method of income calculation</h3>
                <p>
Each amount of income is annualized based on a formula specific to the type of income. Calculations to annualize wages is one of the most complex.
                </p>
                <blockquote>
                    <h4>B. Income Calculation (Wages)</h4>
                    <p>
1. Regular Income – CTCAC calculates income three ways and then uses the highest number to determine eligibility. The three ways are Verification of Employment from the employer, YTD calculation (off of both the VOE and the paystubs), and average number of hours/OT as listed on the pay stubs.<sup>*</sup>
                    </p>
                    <footer>
                        <cite>California Tax Credit Allocation Committee, SECTION VII – Part 7.2 File Inspection</cite>
                    </footer>
                </blockquote>
                <div>
                    <h4 class="text-center">Example W2 income calculation three ways on <a href="http://www.teacapp.co">TeaCapp<sup>TM</sup></a></h4>
<table class="table">
    <tbody>
        <tr>
            <th colspan="6" class="alert alert-info">Waiter at Mika Restaurant</th>
        </tr>
        <tr>
            <th colspan="6">Employer - Direct calculation</th>
        </tr>
        <tr>
            <td>
                <a id="employee-1">regular</a>
            </td>
            <!-- details -->
            <td>
                $12.50
            </td>
            <td>
                hourly * 40.00 hrs weekly
            </td>
            <td colspan="2">
                * 52.00 weeks
            </td>
        </tr>
        <tr>
            <th class="text-right" colspan="5">
            (Greater Of)
            Total Annualized
            </th>
            <th class="text-right">
                <span class="greater-of">$26,000.00</span>
            </th>
        </tr>
        <tr>
            <th colspan="6">Year to date calculation</th>
        </tr>
        <tr>
            <td>
                <a id="employee-1">regular</a>
            </td>
        <!-- details -->
            <td>
                $12,500.00
            </td>
            <td class="text-center">
                From Jan. 1, 2016 to June 30, 2016<br>
                <span class="text-center" style="font-size:0.8em;">181 days</span>
            </td>
            <td colspan="2">
            * 366.00 days
            </td>
        </tr>
        <tr>
            <th class="text-right" colspan="5">
                Total Annualized
            </th>
            <th class="text-right">
                <span class="">$25,276.24</span>
            </th>
        </tr>
        <tr>
            <th colspan="6">Period to date calculation</th>
        </tr>
        <tr>
            <td>
                <a id="employee-1">regular</a>
            </td>
            <!-- details -->
            <td>
                $2,048.00
            </td>
            <td class="text-center">
                From Jan. 1, 2016 to Feb. 1, 2016<br>
                <span class="text-center" style="font-size:0.8em;">31 days</span>
            </td>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <td>
                <a id="employee-2">regular</a>
            </td>
            <!-- details -->
            <td>
                $2,072.00
            </td>
            <td class="text-center">
                From Feb. 1, 2016 to March 1, 2016<br>
                <span class="text-center" style="font-size:0.8em;">29 days</span>
            </td>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <td class="text-left" colspan="2" style="font-size:0.8em;">
                ($4,120.00 over 60 days)
            </td>
            <th class="text-right" colspan="3">
                Total Annualized
            </th>
            <th class="text-right">
                <span class="">$25,131.99</span>
            </th>
        </tr>
        <tr>
            <th colspan="6">Tax return</th>
        </tr>
        <tr>
            <td>
                <a id="employee-1">regular</a>
            </td>
            <!-- details -->
            <td>
                $25,000.00
            </td>
            <td class="text-center">
                From Jan. 1, 2015 to Jan. 1, 2016<br>
                <span class="text-center" style="font-size:0.8em;">365 days</span>
            </td>
            <td colspan="2">
                * 366.00 days
            </td>
        </tr>
        <tr>
            <th class="text-right" colspan="5">
                Total Annualized
            </th>
            <th class="text-right">
                <span class="">$25,000.00</span>
            </th>
        </tr>
    </tbody>
</table>
                </div>
            </div>
        </div>
    </div>
    <div class="highlight text-center">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <h3>Find income and rent limits</h3>
                <form method="get" action="{{'/projects/'|site_prefixed}}" style="padding: 15px;">
                    <div class="input-group">
                        <input class="form-control" maxlength="13" name="q" placeholder="CA-number or property name ..." type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Search &raquo;</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4" style="margin-bottom: 25px;">
                <h3><i class="fa fa-film"></i> Video Presentation</h3>
                <p>
Quick walk-through.
                </p>
                <a class="btn btn-primary" href="{{'/presentations/'|site_prefixed}}">View&nbsp;</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyscripts %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $('body').bind('copy paste',function(e) {
        e.preventDefault();
        return false;
    });
});
</script>
{% endblock %}
